* {
    scroll-behavior: none;
    box-sizing: none;
    list-style-type: none;
    object-fit: none;
    overflow: none;
    position: none;
    left: none;
    top: none;
    bottom: none;
    right: none;
    background: none;
    background-size: none;
    background-color: none;
    background-image: none;
    text-decoration: none;
    color: none;
    font-family: none;
    font-size: none;
    font-weight: none;
    text-align: none;
    text-justify: none;
    min-width: none;
    max-width: none;
    width: none;
    min-height: none;
    max-height: none;
    height: none;
    padding-left: none;
    padding-top: none;
    padding-bottom: none;
    padding-right: none;
    padding: none;
    border: none;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-width: none;
    border-radius: none;
    margin-left: none;
    margin-top: none;
    margin-bottom: none;
    margin-right: none;
    margin: none;
    grid-area: none;
    display: none;
    flex-direction: none;
    align-items: none;
    justify-items: none;
    align-content: none;
    justify-content: none;
    z-index: none;
    grid-template-rows: none;
    grid-template-columns: none;
    grid-template-areas: none;
}