@import url('https://fonts.googleapis.com/css?family=Chivo+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');


/* ##########START OF GLOBAL VARIABLES########## */
:root {
    /* Font Variables */
    --ui-font: 'Chivo Mono', sans-serif;
    --content-font: 'Barlow', serif;
    --size-h1: 1.6rem;
    --size-h2: 1.2rem;
    --size-h3: 1.0rem;
    --size-h4: 0.9rem;
    --size-h5: 0.8rem;
    --size-h6: 0.7rem;
    --size-p1: 1.1rem;
    --size-p2: 1.0rem;
    --size-p3: 0.9rem;
    --size-p4: 0.8rem;
    --size-p5: 0.7rem;
    --size-p6: 0.6rem;
    --size-a: 1.0rem;
    --weight-lightest: 100;
    --weight-light: 200;
    --weight-regular: 400;
    --weight-bold: 700;
    --weight-boldest: 900;

    /* Colour Variables */
    --color-primary: #ffbc42;
    --color-primary-dark: #bd892a;
    --color-accent-red: #f8594e;
    --color-accent-green: #00cc99;
    --color-accent-blue: #00aeff;
    --color-darkest: #1f271b;
    --color-dark: #343833;
    --color-neutral: #707070;
    --color-light: #c1cebb;
    --color-lightest: #fff;
    --color-transparent: #ffffff00;

    /* Other Variables */
    --border-light: 0.065rem;
    --border-regular: 0.15rem;
    --border-bold: 0.15rem;
    --border-boldest: 0.25rem;
}
/* ##########END OF GLOBAL VARIABLES########## */

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 16px; /* REM Unit declaration*/
}

* {
    scroll-behavior: smooth;
    width: 100%;
    padding: 0;
    margin: 0;
}

/* ##########START OF CSS RESET########## */
body {
    background-color: var(--color-lightest);
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "content"
        "footer";
}

ol, ul {
    list-style-type: none;
    color: var(--color-dark);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-darkest);
}

h1 {
    font-size: var(--size-h1);
}

h2 {
    font-size: var(--size-h2);
}

h3 {
    font-size: var(--size-h3);
}

h4 {
    font-size: var(--size-h4);
}

h5 {
    font-size: var(--size-h5);
}

h6 {
    font-size: var(--size-h6);
}

p,
ol,
ul,
div,
span {
    color: var(--color-dark);
    font-size: var(--size-p1);
    font-weight: var(--weight-regular);
}

a {
    text-decoration: none;
    color: var(--color-dark);
    font-size: var(--size-a);
    font-weight: var(--weight-boldest);
}
/* ##########END OF CSS RESET########## */

/* ##########START OF HEADER########## */
.header {
    position: fixed;
    top: 0.5rem;
    font-family: var(--ui-font);
    z-index: 999;
}

.navbar {
    background-color: var(--color-primary);
    width: 70%;
    min-height: 5rem;
    border: solid var(--color-darkest);
    border-width: var(--border-bold) var(--border-bold) var(--border-boldest) var(--border-boldest);
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 4fr 1fr 4fr;
    grid-template-areas: 
        ". logo info"
        "left-bar logo right-bar";
}

.navbar__logo {
    text-align: center;
    grid-area: logo;
}

.navbar__logo img {
    width: 5rem;
}

.navbar__check,
.navbar__label {
    display: none;
}

.navbar__info {
    font-size: var(--size-p5);
    text-align: end;
    grid-area: info;
}

.navbar__left {
    justify-content: space-around;
    grid-area: left-bar;
}

.navbar__right {
    justify-content: flex-end;
    grid-area: right-bar;
}

.navbar__options {
    display: flex;
    align-items: center;
}

.navbar__options li {
    display: flex;
    align-items: center;
}

.navbar__options a {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/* ##########END OF HEADER########## */

/* ##########START OF FOOTER########## */
.footer {
    background-color: var(--color-dark);
    font-family: var(--ui-font);
    grid-area: footer;
}

.footer__content {
    width: 70%;
    padding: 2rem 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;    
}

.footer__content-menu {
    text-align: center;
}

.footer__content-menu h1 {
    color: var(--color-lightest);
    font-size: var(--size-h5);
    margin: 0.2rem 0;
}

.footer__content-menu a {
    color: var(--color-light);
    font-size: var(--size-p3);
    display: block;
}

.footer__credits {
    color: var(--color-accent-green);
    font-size: var(--size-p6);
    text-align: center;
    padding: 0.5rem 0;
    border-top: 0.01rem dotted var(--color-primary);
}
/* ##########END OF FOOTER########## */

/* ##########START OF CONTENT STRUCTURE########## */
main {
    font-family: var(--content-font);
    margin-top: 5rem;
}

section {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}

figure {
    width: 100%;
}

iframe {
    width: 100%;
    min-height: 40vh;
    min-width: 40vw;
}

.flex__container {
    max-width: 80%;
    width: fit-content;
    padding: 0.5rem 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid__container {
    max-width: 80%;
    width: fit-content;
    padding: 0.5rem 0;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-items: center;
    grid-template-rows: auto;
}

.one-col {
    grid-template-columns: 1fr;
}

.two-cols {
    grid-template-columns: 1fr 1fr;
}

.three-cols {
    grid-template-columns: 1fr 1fr 1fr;
}

.four-cols {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

th {
    font-size: var(--size-h2);
}

td {
    font-size: var(--size-p1);
    border: var(--border-bold) solid var(--color-darkest);
    padding: 0 1rem;
}
/* ##########END OF CONTENT STRUCTURE########## */

/* ##########START OF CONTENT COMPONENTS########## */
/* Banner */
.banner {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.banner__content {
    position: relative;
    width: 99%;
    margin-left: 1%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.banner__tagline {
    background-color: var(--color-lightest);
    font-size: var(--size-p1);
    text-align: justify;
    border-top: solid var(--color-darkest);
}
/* General Purpose */
.information {
    width: fit-content;
    padding: 1rem;
    text-align: center;
    margin: 1rem auto;
}

.information * {
    margin: 1rem auto;
}

/* Card */
.card {
    width: fit-content;
    margin: 0.5rem;
    padding: 1.0em;
}

.card__title {
    text-justify: center;
    grid-area: card-title;
}

.card__subtitle {
    grid-area: card-subtitle;
}

.card__description {
    text-align: justify;
    grid-area: card-description;
}

.card__image {
    height: 22rem;
    grid-area: card-image;
    align-items: stretch;
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.card__price {
    grid-area: card-price;
    text-align: end;
}

.card-type-one {
    width: 16rem;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr 3fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "card-title card-title"
        "card-subtitle card-subtitle"
        "card-image card-image"
        "card-description card-description"
        "card-price card-price";
}

.card-type-one * {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.card-type-one .card__title,
.card-type-one .card__subtitle {
    text-align: center;
    text-justify: center;
}

.card-type-one .card__image {
    height: 10rem;
}

.card-type-one .card__image img {
    object-fit: fill;
    height: 50%;
    margin: auto;
}

.card-type-two {
    max-height: 50vh;
    width: 20rem;
    display: grid;
    grid-template-rows: 5fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
        "card-image"
        "card-title"
        "card-description"
}

.card-type-three {
    display: grid;
    gap: 1rem;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "card-title card-image"
        "card-subtitle card-image"
        "card-description card-image"
        "card-price card-image";
}

.card-type-four {
    display: grid;
    gap: 1rem;
    grid-template-rows: 1fr 1fr 4fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "card-image card-title"
        "card-image card-subtitle"
        "card-image card-description"
        "card-image card-price";
}

.card-type-two *,
.card-type-three *,
.card-type-four * {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.card-type-two img,
.card-type-three img,
.card-type-four img {
    padding: none;
    object-fit: cover;
    height: 18rem;
}


/* Buttons */
.button-red {
    height: fit-content;
    background-color: var(--color-accent-red);
    border: solid var(--color-darkest);
    border-width: var(--border-bold) var(--border-bold) var(--border-boldest) var(--border-boldest);
    border-radius: 2rem;
    padding: 0.4rem;
    width: fit-content;
    margin: auto;
}

.button-green {
    height: fit-content;
    background-color: var(--color-accent-green);
    border: solid var(--color-darkest);
    border-width: var(--border-bold) var(--border-bold) var(--border-boldest) var(--border-boldest);
    border-radius: 2rem;
    padding: 0.4rem;
    width: fit-content;
    margin: auto;
}

.button-blue {
    height: fit-content;
    background-color: var(--color-accent-blue);
    border: solid var(--color-darkest);
    border-width: var(--border-bold) var(--border-bold) var(--border-boldest) var(--border-boldest);
    border-radius: 2rem;
    padding: 0.4rem;
    width: fit-content;
    margin: auto;
}
/* ##########END OF CONTENT COMPONENTS########## */

/* ##########START OF DECORATION########## */
/* Text decorations */
strong {
    font-weight: var(--weight-boldest);
}

.strikethrough {
    text-decoration: line-through;
}

/* Box decorations */
.bordered {
    border: solid var(--color-darkest);
    border-width: var(--border-bold) var(--border-bold) var(--border-boldest) var(--border-boldest);
}
/* Backgrounds */
.bg-dots {
    background-image: radial-gradient(var(--color-darkest) 0.1rem, var(--color-transparent) 0.1rem);
    background-size: 1.2rem 1.2rem;
}

.bg-diagonal {
    background: repeating-linear-gradient(-45deg, var(--color-darkest), var(--color-darkest) 0.2rem, var(--color-transparent) 0.2rem, var(--color-transparent) 0.4rem);
}

.bg-lightest {
    background: var(--color-lightest);
}

.bg-light {
    background: var(--color-light);
}

.bg-darkest {
    background: var(--color-darkest);
}

.bg-dark {
    background: var(--color-dark);
}

.bg-primary {
    background-color: var(--color-primary);
}

.bg-red {
    background: var(--color-accent-red);
}

.bg-blue {
    background: var(--color-accent-blue);
}

.bg-green {
    background: var(--color-accent-green);
}

.bg-mixed {
    background: linear-gradient(180deg, var(--color-lightest) 50%, var(--color-darkest) 50%);
}
/* ##########END OF DECORATION########## */